<!DOCTYPE html>
<html>
  <head>
    <title>ToTheThird</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
<!--     <div class="navbar row">
      <ul class='flexbox'>
        <li class='inline'><div class="home"><a href="/">HOME</a></div></li>
        <li class='inline'><div class="profil"><a href="/pages/profil">PROFIL</a></div></li>
      </ul>
    </div>
 -->
    <%= yield %>
  </body>
</html>
